<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>SvUsr</servlet-name>
		<display-name>SvUsr</display-name>
		<description></description>
		<servlet-class>servlets.SvUsr</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SvLibro</servlet-name>
		<display-name>SvLibro</display-name>
		<description></description>
		<servlet-class>servlets.SvLibro</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SvUsr</servlet-name>
		<url-pattern>/SvUsr</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SvLibro</servlet-name>
		<url-pattern>/SvLibro</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>Index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
